.cookie-warning {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  .cookie-warning .cookie-warning-inner {
    padding-left: 15px;
    padding-right: 15px; }
    .cookie-warning .cookie-warning-inner .cookie-warning-text {
      display: inline-block;
      max-width: 95%;
      width: auto;
      margin-right: 15px; }
